<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>

</head>

<body style="width:100%;font-family:Arial, Helvetica, sans-serif;padding:20px;">

    <div>
        <a href="/home/index/default">Home</a> |
        <a href="/home/index/effects">Effects</a> |
        <a href="/home/index/htmleditor">HTML Editor</a> |
        <a href="/home/index/imagepreview">Image preview</a> |
        <a href="/home/index/validation">Validation</a> |
        <a href="/home/index/notifier">Notifier</a> |
        <a href="/home/index/lightbox">Lightbox</a> |
        <a href="/home/index/modalbox">Modalbox</a> |
        <a href="/home/index/preventdblclick">Prevent double click</a> |
        <a href="/home/index/tooltip">Tooltip</a> |
        <a href="/home/index/lazyloadimages">Lazy load images</a> |
        <a href="/home/index/eidsmartcard">eID Smart Card</a> |
        <a href="/home/index/bankid">Bank ID</a> |
        <a href="/home/index/frejaeid">Freja eID</a> |
        <a href="/home/index/preloadcss">Preload CSS</a>
    </div><br />

    <div>This application is used to test different JavaScript plugins.</div>

</body>

</html>