<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test</title>
    
</head>

<body style="width:100%;font-family:Arial, Helvetica, sans-serif;padding:0;margin:0;">

    <div class="hockeytabeller.se" data-group="shl" data-type="overview"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="standings"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="results"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="schedule"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="skaters"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="goalies"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="powerplay"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="penalty_killing"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="team_statistics"></div>
    <div style="margin-bottom:20px;"></div>
    <div class="hockeytabeller.se" data-group="shl" data-type="team_statistics" data-filter="Linköping HC,Leksands IF"></div>
    <div style="margin-bottom:20px;"></div>

</body>

</html>

<link href="/css/hockeytabeller.min.css" rel="stylesheet" />
<script src="/js/hockeytabeller.min.js"></script>